<%= @user.name %>様

<p>
この度はUアプリにご登録いただきありがとうございます。
下記URLをクリックしていただき、パスワードを再設定してください。
</p>


<%= link_to "パスワードを再設定する", edit_password_reset_url(@user.reset_token, email: @user.email) %>


<br>
<br>
<p> - U ~温泉情報アプリ~ - </p>