<li>
    <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "ご退出いただく", user, method: :delete,
         data: {confirm: "本当に退出させますか？"} %>
    <% end %>
</li>