<div class="search-form">
    <%= form_with(scope: :search, url: hotsprings_path, method: :get, local:true ) do |f| %>
        <%= f.label :name, "温泉名" %>
        <%= f.text_field :name, value: @search_params[:name] %>
        <%= submit_tag "検索する", class: "btn btn-primary"%>
    <% end %>    
</div>

