<%= render 'shared/hotspring_form' %>

<%= render 'shared/search_result' %>


<div class="section clearfix">
    <div class="hotspring-ranking">
        <h1>人気ランキング</h1>
        <%= render @top_three_hotsprings %>
    </div>
</div>