<div class="row">
    <aside class="col-md-4">
        <section class="hotspring_info">
            <h1>
                <%= @hotspring.name %>
            </h1>
        </section>
    </aside>
</div>